{#
/**
 * @file
 * Default theme implementation to display a custom block.
 *
 * Available variables:
 * - block_content: Full custom block entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - block_content.getCreatedTime() will return the custom block creation timestamp.
 *   - block_content.id(): The custom block ID.
 *   - block_content.bundle(): The type of the custom block, for example, "image" or "text".
 *   See Drupal\block_content\Entity\BlockContent for a full list of public properties
 *   and methods for the custom block object.
 * - content: All custom block items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_block_content()
 *
 * @ingroup themeable
 */
#}
{{ content }}
